<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <span class="text-muted">&copy; YelpCamp 2022</span>
    </div>
</footer>
Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam velit quasi quae voluptate est odit, eveniet, distinctio sit cum dolorum nemo eligendi esse minus soluta ad excepturi consectetur beatae expedita.